<%= form_for(@personal) do |f| %>
  <% if @personal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personal.errors.count, "error") %> prohibited this personal from being saved:</h2>

      <ul>
      <% @personal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :住所 %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :誕生日 %><br />
    <%= f.date_select :birthday, {:start_year => 1900, :end_year => Date.today.year, :use_month_numbers => true} %>
  </div>
  <div class="field">
    <%= f.label :年齢 %><br />
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :身長 %><br />
    <%= f.text_field :hight %>
  </div>
  <div class="field">
    <%= f.label :体重 %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit "内容更新" %>
  </div>
<% end %>
